<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id = "Triangle" class = "org.surender.demo.Triangle"> 
		<!--  Setter Injection -->
		<!-- <property name = "type" value= "Equilateral" /> -->
		<!-- <property name = "height" value= "20" /> -->
		
		<!--  Constructor Injection -->
		<!-- The index and type can be omitted but for function overloading it may be needed.
		Also, if the int type is not specified 20 will be type casted automatically by spring. -->
		
		<constructor-arg index = "0" type = "java.lang.String" value = "Equilateral" />
		<constructor-arg index = "1" type = "int" value = "20" />
		
	</bean>
	
</beans>